footer{
    position: absolute;
    bottom: 0px;
    align-items: center;
    display: inline-block;
    font-size: xx-large;
}

#perso{
    position: absolute;
    left: 48px;
    top: 48px;
    width: 16px;
    height: 16px;
}
#link{
    position: absolute;
    left: -1px;
    bottom: 0px;
}
#boss{
    position: absolute;
    left: 1216px;
    top: 32px;
}

.mur{
    position: absolute;
    background-color: crimson;
}
#mur1{   
    left: 0px;
    top: 0px;
    width: 16px;
    height: 1440px;  
}
#mur2{
    left: 0px;
    top: 0px;
    width: 1456px;
    height: 16px;
}
#mur3{
    left: 0px;
    top: 1440px;
    width: 1456px;
    height: 16px;
}
#mur4{
    left: 1440px;
    top: 0px;
    width: 16px;
    height: 1360px;
}
#mur5{
    left: 96px;
    top: 0px;
    width: 16px;
    height: 288px;
}
#mur6{
    left: 96px;
    top: 288px;
    width: 304px;
    height: 16px;
}
#mur7{
    left: 192px;
    top: 96px;
    width: 400px;
    height: 16px;
}
#mur8{
    left: 192px;
    top: 192px;
    width: 304px;
    height: 16px;
}
#mur9{
    left: 192px;
    top: 96px;
    width: 16px;
    height: 96px;
}
#mur10{
    left: 480px;
    top: 192px;
    width: 16px;
    height: 496px;
}
#mur11{
    left: 0px;
    top: 384px;
    width: 208px;
    height: 16px;
}
#mur12{
    left: 192px;
    top: 384px;
    width: 16px;
    height: 208px;
}
#mur13{
    left: 288px;
    top: 384px;
    width: 16px;
    height: 304px;
}
#mur14{
    left: 288px;
    top: 384px;
    width: 112px;
    height: 16px;
}
#mur15{
    left: 96px;
    top: 672px;
    width:  304px;
    height: 16px;
}
#mur16{
    left: 96px;
    top: 480px;
    width: 16px;
    height: 496px;
}
#mur17{
    left: 384px;
    top: 480px;
    width: 16px;
    height: 880px;
}
#mur18{
    left: 192px;
    top: 768px;
    width: 16px;
    height: 304px;
}
#mur19{
    left: 288px;
    top: 768px;
    width: 16px;
    height: 672px;
}
#mur20{
    left: 0px;
    top: 1056px;
    width: 208px;
    height: 16px;
}
#mur21{
    left: 96px;
    top: 1152px;
    width: 208px;
    height: 16px;
}
#mur22{
    left: 96px;
    top: 1152px;
    width: 16px;
    height: 208px;
}
#mur23{
    left: 96px;
    top: 1344px;
    width: 112px;
    height: 16px;
}
#mur24{
    left: 192px;
    top: 1248px;
    width: 16px;
    height: 112px;
}
#mur25{
    left: 384px;
    top: 1344px;
    width: 208px;
    height: 16px;
}
#mur26{
    left: 672px;
    top: 1248px;
    width: 16px;
    height: 208px;
}
#mur27{
    left: 576px;
    top: 1056px;
    width: 16px;
    height: 208px;
}
#mur28{
    left: 576px;
    top: 1152px;
    width: 304px;
    height: 16px;
}
#mur29{
    left: 480px;
    top: 768px;
    width: 16px;
    height: 400px;
}
#mur30{
    left: 576px;
    top: 96px;
    width: 16px;
    height: 208px;
}
#mur31{
    left: 576px;
    top: 192px;
    width: 208px;
    height: 16px;
}
#mur32{
    left: 672px;
    top: 0px;
    width: 16px;
    height: 112px;
}
#mur33{
    left: 672px;
    top: 0px;
    width: 16px;
    height: 70px;
}
#mur34{
    left: 768px;
    top: 192px;
    width: 16px;
    height: 112px;
}
#mur35{
    left: 576px;
    top: 384px;
    width: 208px;
    height: 16px;
}
#mur36{
    left: 672px;
    top: 288px;
    width: 208px;
    height: 16px;
}
#mur37{
    left:  672px;
    top: 96px;
    width: 208px;
    height: 16px;
}
#mur38{
    left: 864px;
    top: 96px;
    width: 16px;
    height: 112px;
}
#mur39{
    left: 864px;
    top: 192px;
    width: 208px;
    height: 16px;
}
#mur40{
    left: 960px;
    top: 0px;
    width: 16px;
    height: 112px;
}
#mur41{
    left: 960px;
    top: 0px;
    width: 16px;
    height: 112px;
}
#mur42{
    left: 960px;
    top: 288px;
    width: 112px;
    height: 16px;
}
#mur43{
    left: 1056px;
    top: 96px;
    width: 16px;
    height: 112px;
}
#mur44{
    left: 1056px;
    top: 288px;
    width: 16px;
    height: 304px;
}
#mur45{
    left: 1056px;
    top: 384px;
    width: 208px;
    height: 16px;
}
#mur46{
    left: 1344px;
    top: 384px;
    width: 112px;
    height: 16px;
}
#mur47{
    left: 1344px;
    top: 384px;
    width: 16px;
    height: 112px;
}
#mur48{
    left: 1152px;
    top: 480px;
    width: 208px;
    height: 16px;
}
#mur49{
    left: 1152px;
    top: 480px;
    width: 16px;
    height: 112px;
}
#mur50{
    left: 960px;
    top: 384px;
    width: 16px;
    height: 208px;
}
#mur51{
    left: 864px;
    top: 384px;
    width: 112px;
    height: 16px;
}
#mur52{
    left: 864px;
    top: 672px;
    width: 400px;
    height: 16px;
}
#mur53{
    left: 960px;
    top: 576px;
    width: 112px;
    height: 16px;
}
#mur53{
    left: 960px;
    top: 576px;
    width: 112px;
    height: 16px;
}
#mur54{
    left: 1152px;
    top: 576px;
    width: 208px;
    height: 16px;
}
#mur55{
    left: 480px;
    top: 768px;
    width: 496px;
    height: 16px;
}
#mur56{
    left: 480px;
    top: 672px;
    width: 208px;
    height: 16px;
}
#mur57{
    left: 768px;
    top: 480px;
    width: 16px;
    height: 208px;
}
#mur58{
    left: 864px;
    top: 480px;
    width: 16px;
    height: 208px;
}
#mur59{
    left: 672px;
    top: 384px;
    width: 16px;
    height: 208px;
}
#mur60{
    left: 576px;
    top: 480px;
    width: 208px;
    height: 16px;
}
#mur61{
    left: 1344px;
    top: 1344px;
    width: 112px;
    height: 16px;
}
#mur62{
    left: 1056px;
    top: 1344px;
    width: 208px;
    height: 16px;
}
#mur63{
    left: 1152px;
    top: 1344px;
    width: 16px;
    height: 112px;
}
#mur64{
    left: 1344px;
    top: 1056px;
    width: 16px;
    height: 304px;
}
#mur65{
    left: 1248px;
    top: 1152px;
    width: 16px;
    height: 208px;
}
#mur66{
    left: 768px;
    top: 1056px;
    width: 16px;
    height: 304px;
}
#mur67{
    left: 768px;
    top: 1248px;
    width: 400px;
    height: 16px;
}
#mur68{
    left: 768px;
    top: 1344px;
    width: 208px;
    height: 16px;
}
#mur69{
    left: 1056px;
    top: 1056px;
    width: 208px;
    height: 16px;
}
#mur70{
    left: 960px;
    top: 1152px;
    width: 304px;
    height: 16px;
}
#mur71{
    left: 1344px;
    top: 576px;
    width: 16px;
    height: 400px;
}
#mur72{
    left: 960px;
    top: 960px;
    width: 16px;
    height: 208px;
}
#mur73{
    left: 576px;
    top: 960px;
    width: 400px;
    height: 16px;
}
#mur74{
    left: 672px;
    top: 864px;
    width: 16px;
    height: 208px;
}
#mur74{
    left: 672px;
    top: 864px;
    width: 16px;
    height: 208px;
}
#mur75{
    left: 768px;
    top: 864px;
    width: 592px;
    height: 16px;
}
#mur76{
    left: 1056px;
    top: 672px;
    width: 16px;
    height: 112px;
}
#mur77{
    left:  1152px;
    top: 768px;
    width: 208px;
    height: 16px;
}
#mur78{
    left: 1056px;
    top: 960px;
    width: 208px;
    height: 16px;
}
#mur79{
    left: 1152px;
    top: 864px;
    width: 16px;
    height: 208px;
}