body{
    background-color: darkgreen;
}
form{

    display: grid;
    margin: auto;
    padding: 1vh;
    row-gap : 0.5em;
    width: 20vw;
    height: 20vh;
    border-radius: 10px;
}
input{
    border-radius: 10px;
    font-size: 25px;
}

.noDisplay{
    display: none;
}

#cards{
    display: grid;
    margin: auto;
    width: 80vw;
    gap: 10vw;
    grid-template-columns: repeat(4, 1fr);
}